doctype html
html(lang='en', ng-app='bookinfo', ng-controller='layoutController')
    head
        base(href='/')
        meta(charset='utf-8')
        meta(name='description', content='Bookinfo is a service for creating a link between publishers and distributers')
        title(ng-bind='common.title') Bookinfo
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/bower_components/angular-loading-bar/build/loading-bar.css')
        link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='/bootstrap_custom.css')
        link(rel='stylesheet', href='/main.css')

    body
        include blocks/header
        div.color.view-container(ng-view='')
        include blocks/footer
            
        // Bower components inclusion
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/lodash/lodash.js')
        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/angular-animate/angular-animate.js')
        script(src='/bower_components/angular-route/angular-route.js')
        script(src='/bower_components/angular-elastic/elastic.js')
        script(src='/bower_components/angular-loading-bar/build/loading-bar.js')
        script(src='/bower_components/angular-aria/angular-aria.min.js')
        script(src='/bower_components/angular-material/angular-material.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/bower_components/ng-table/dist/ng-table.min.js')
        script(src='/assets/javascripts/dui-toolbag.js')
        script(src="/bower_components/angular-messages/angular-messages.js")
        script(src="/bower_components/angular-base64-upload/dist/angular-base64-upload.min.js")
        
        //- noty
        script(src="/bower_components/noty/js/noty/jquery.noty.js")
        script(src="/bower_components/noty/js/noty/layouts/topLeft.js")
        script(src="/assets/javascripts/noty/bookinfoTheme.js")
        script(src="/assets/javascripts/customTemplate.js")

        script(src="/bower_components/ng-tags-input/ng-tags-input.min.js")
        script(src="/assets/javascripts/ng-text-truncate.js")


        // Appending the modules which make up the app
        script(src='/modules/common/directives.js')
        script(src='/modules/common/utils.js')
        script(src='/modules/common/common.js')
        script(src='/modules/home/home.js')
        script(src='/modules/home/home-controller.js')

        // Module for including all modules
        script(src='/modules/all.js')

        // Defining the angular app
        script(src='/app.js')

