upload {
  text-align: center;
}

.add{ 
  md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder{
    color: #333333
  }
}


.file-upload-label {
  display: inline-block;
  height: 411px;
  position: relative;
  cursor: pointer;
 }

 #uploadBook, #uploadCover {
  visibility: hidden;
  width: 100%;
}

.upload textarea {
  margin: 15px 0;
}

.file-upload-label .upload-tint {
  background: center/cover $blue-gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.upload-hld {
  height: 5px;
}

.upload-hld .upload-progress {
  width: 0;
  height: 100%;
  background-color: forestgreen;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.file-upload-label .upload-painting-icon {
  background: url(../images/upload-painting-icon.png) no-repeat;
  width: 102px;
  height: 79px;
  position: absolute;
  top: 100px;
  left: 60px;
  z-index: 1;
}

.file-upload-label .upload-plus-icon {
  background: url(../images/upload-plus-icon.png) no-repeat;
  width: 90px;
  height: 92px;
  position: absolute;
  top: 120px;
  left: 170px;
}

.small-label {
  width: 190px;
  height: 187px;
  position: relative;
 }


 .supported-formats-txt {
  margin: 5px 0;
}

.file-upload-label .upload-book-icon {
  background: url(../images/upload-book-icon.png) no-repeat;
  width: 78px;
  height: 88px;
  position: absolute;
  top: 55px;
  left: 45px;
  z-index: 3;
}

.small-label .upload-plus-icon {
  top: 70px;
  left: 130px;
}

.file-upload-label #bookProgress {
  z-index: 2;
  background-image: url(../images/check.png);
  background-position: 80% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  background-attachment: local;
}

.supported-formats {
  margin: 5px 0;
  color: #039BE5;
  font-weight: 600;
}


.sbs-hld {  
  .sbs-text {}
  .sbs-selected {
    background:$amber;
    color:white;
    padding:10px;
  }
  .sbs-list {
    height:500px;
    overflow-y: auto;
    padding-right:10px;
    
    .sbs-item {
      border: 1px solid $amber;
      padding:10px;
      text-align: left;
      color: black;
      margin-top:10px;
      cursor:pointer;
      
      &:hover{
        background-color: $amber300;
        color: white;
        border-color: $amber300;
      }

      &:active{
        background-color: $amber600;
        color: white;
        border-color: $amber600;
      }

      &.active{
        background-color: $amber !important;
        color: white;
        border-color: $amber !important;
      }
    }
  }
}