.book{

	.book-container {  
		width: 100%;
		margin: 0 auto;
		display: block;
		.book {
			z-index: 5;
			box-shadow: 0 2px 4px rgba(0,0,0,.25);
		}
	}


	.single-book-cover {
		position: relative;
		z-index: 10;
	}

	.img {
		background-image: url(../images/book.jpg);
		background-position: center;
		height: 100%;
		width: 100%;
		padding-top: 150%;
		background-size: cover;
	}

	.book-desc-hld {
		padding: 20px 0px 0px 20px;
	}

	.book-desc-title {
		display: block;
		border: none;
		font-size: 30px;
		padding: 0;
		font-weight: normal;
	}

	.book-desc {
		padding: 5px;
		font-size: 13px;
		font-weight: normal;
		// border-bottom: 1px solid #ddd9d9;
		display: inline-block;
		margin: 5px;
		color: #B2ADAD;
	}

	.blurb {
		padding: 5px 5px 5px 15px;
		word-break: break-word;
		font-size: 13px;
	}

	.true-book, .false-book{
		margin-top:4px;
	}

	.ngTruncateToggleText{
		color: #428bca;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
}