.guide{
  height:100%;
  
  .login-button {
    margin-top:8px;
  }

  a {
    color: $blue-gray;
    text-decoration: underline;

    &:hover{
      color: $blue-gray200;
      text-decoration: none;
    }
  }

  pre.prettyprint{
    padding: 10px;
    overflow-y: auto;
    border: 1px dashed #888;
  }

}