.home{
	.inner-container{
		background:none;
	}
  .loader{
    width: 100px;
    height: 100px;
    margin:20px auto 50px;
    background-repeat:no-repeat;
    background-position:center;
    background-image:url(../images/loader.gif);
    position: relative;

    .text{
      position: absolute;
      bottom: -35px;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      text-align: center;
      color: black;
      font-size: 17px;
    }
  }
}

.feed-hld {
  margin: 30px 20px;
  min-height: 140px;
  
  .feed-wrap{ 
    padding-left:100px;
  }

  .feed {
  	position: relative;
  	-webkit-transition-property: box-shadow,border;
  	-moz-transition-property: box-shadow,border;
  	-ms-transition-property: box-shadow,border;
  	-o-transition-property: box-shadow,border;
  	transition-property: box-shadow border;
  	-webkit-transition-duration: .15s;
  	-moz-transition-duration: .15s;
  	-ms-transition-duration: .15s;
  	-o-transition-duration: .15s;
  	transition-duration: .15s;
  	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  	-moz-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  	-ms-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  	-o-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  	box-shadow: 0 4px 12px rgba(0,0,0,.15);
  	background: #f3f3f3;

    .head-bar{
      position: relative;
      height: 50px;
      background: white;
      border-bottom: 1px solid #dadada;
      font-size: 17px;
      line-height: 50px;

      .acc-img-hld {
        position: absolute;
        left: 15px;
        top: 4px;
        opacity: 0.5;
        background-image: url(../images/avatar.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $blue-gray;

        &:hover{
          opacity:1;
        }
      }

      .user{
        color: black;
        margin-left: 65px;
      }

      .action-type{
        color: $blue;
      }

    }

    .book-title{
      padding:15px 20px;
      font-size: $font-big;
      display: block;
    }

    .add-feed {
      padding: 20px;
      padding-top: 0px;

      .feed-changes {

        .changed-type{
          font-weight: $font-weight-bold;
        }

        .new-changed-value{
          color: $error;
          font-size: 18px;
        }
        .old-changed-value{
        }
      }
    }
  }
}


.book-cover {
  position: relative;
  z-index: 1;
  margin-top:-3px;
  display: block;
  width: 100px;
  height: 140px;
  background-color: white;
  background-image: url(../images/book.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // height: 100%;
  padding-top: 140px;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  -ms-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  -o-box-shadow: 0 4px 12px rgba(0,0,0,.15);
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}



.time{
  position: absolute;
  bottom: 0px;
  right: 15px;
  font-size: 11px;
  font-style: italic;
  color: #BBBBBB;
  line-height: 28px;
  cursor: default;
  &:hover{
    color:black;
  }
}
