.profile-hld {
	float: right;
	position: relative;
	// top: 12px;
	display: inline-block;
	margin-top: 7px;
}
.img-hld {
	 background-image: url(../images/avatar.png);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 width: 40px;
	 height: 40px;
	 border-radius: 50%;
	 display: inline-block;
	 background-color: $white;
	 position: relative;
	&:hover {
		border:2px solid $blue-gray50;
	}
}

.img-hld {
	&:hover {
		.account-menu-hld {
			display: block !important;
		}
	}
}

.header-hld {
	background: $amber500;
	width: 100%;
    position: relative;
    z-index: 1000;
}

.header-tab {
	padding: 10px 30px;
	opacity: 0.9;
	font-size: 15px;
	text-align: center;
	position: relative;
	font-weight: 600;
	color: #4a4a4a;
	display: inline-block;
	cursor: pointer;
	margin-top: 10px;
	border-bottom: 4px solid transparent;


	&:hover, &.active {
		color: $white;

		text-decoration: none;
		border-bottom: 4px solid $white;
		-webkit-transition: 200ms ease all;
		transition: 200ms ease all;
		opacity: 1;
	}
}

.search {
	background-image: url(../images/Search.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 40px;
	width: 40px;
	display: inline-block;
	cursor: pointer;
	transition: color 0.3s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.account-menu-hld {
	display: none;
	position: absolute;
	top: 46px;
	right: -30px;
	z-index: 15;

	.account-img{
		display: block;
		height: 55px;
		width: 74px;
		position: absolute;
		top: -55px;
		right: 0;
		cursor: pointer;
	}

	.account-menu{
		// border: 1px solid $dark-gray;
		padding: 10px;
		min-width: 160px;
		background-color: $white;	
		box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);

		.menu-head{
			font-size:$font-small;
			text-align: center;
			/* line-height: 32px; */
  			padding-bottom: 10px;
		}

		&:after, &:before {
			top: 39px;
			left: 74%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: fixed;
			pointer-events: none;
		}
	}
}

.acc-tabs {
	display: block;
	cursor: pointer;
	font-size: 15px;
	padding: 5px;
	color: #000;
	&:hover {
		color: #B8B6B6 !important;
		text-decoration: none;
	}
}

.logout {
	border-top: 1px solid $blue-gray !important;
	padding-top: 15px;
}

.logo-hld {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: -10px -3px;
	width: 180px;
	height: 51px;
	margin-top: 4px;
	display: block;
}

.layout{
	height: 100%;
}

.view-container{
	background-color: $blue-grayLight;
	padding-bottom:90px;
	margin-top:-55px;
	min-height: 100%;
	padding-top:55px;
}



