
.login{

	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	
	/* Left-side bullets and large logo */
	.logo-align {
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 5%;
	max-width: 75%;
	}
	.logo-align .logo-info {
	margin-bottom: 40px;
	margin-left: 5px;
	margin-top: 25px;
	font-size: 18px;
	line-height: 20px;
	}
	.logo-align .media {
	margin-top: 35px;
	}
	.logo-align .media img {
	margin-right: 10px;
	}
	/* Signin layout */
	.social-signin {
	margin-left: 20%;
	padding-bottom: 15px;
	}
	.social-signin a {
	margin-top: 10px;
	}
	

	#overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #313131;
		z-index: 20;
		opacity: .6;
	}

	#login-bg {
		width: 100%;
		height: 100%;
		// background: #2d3841;
		background: #5F5F5F;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;

		z-index: 10;

		#login-img {
			background: url(/assets/images/login.png) no-repeat;
			width: 163px;
			height: 134px;
			margin: 0 auto;
		}

		#login-cont {
			width: 340px;
			min-height: 300px;
			margin: 0 auto;
			margin-top: 40px;
			position: relative;
			z-index: 30;

			h1 {
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;

				span {
					color: #588bff;
					font-weight: 300;
				}
			}
			.btn-theme {
				color: #fff;
			}
			input {
				outline: none;
				display: block;
				border: none;
				width: 90%;
				height: 44px;
				font-size: 15px;
				color: #000;
				line-height: 35px;
				margin-left:20px;
				// padding-left:65px;

				&:focus {
					outline: none;
				}
			}

			.login-credential {
				position: relative;
				
				.ss-icon {
					position: absolute;
					top: 50%;
					margin-top: -10px;
					left: 0;
					margin-left: 40px;
					font-size: 20px;
				}

			}


			input.user,input.pass {
				// background: url(/assets/images/icons/user.png) no-repeat;
				// @extend .ss-key;
				background-color: #fff;
				margin-top:30px;
				border-radius: 3px 3px 0 0;
				border-bottom: 1px solid #e1e6e8;
				font-weight: 500;
			}
			input.pass {
				margin-top: 0;
				border-radius: 0 0 3px 3px;
				border-bottom: none;
			}
			input.submit {
				border-radius: 3px;
				background-color: #588bff;
				color: #fff;
				margin-top: 20px;
				padding: 0;
			}
		}


	}

	md-raised.md-primary.md-button.md-default-theme {
		width: 100% !important;
		margin: 0 !important;
	}
}

-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	background: #fff;
}

input:-webkit-autofill {
	background: #fff;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus, input:-webkit-autofill:hover {
	-webkit-box-shadow: 0 0 0px 1000px white inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.logo{
	display:inline-block;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: -10px -3px;
	width: 180px;
	height: 51px;
}

.ps-header{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 620px;
  background-size: cover;
  color: white;
  background: #5F5F5F;
  background-size: cover;
}

.ps-section-header{
	text-align: center;
  text-rendering: optimizeLegibility;
  margin-bottom: 24px;
  max-width: 1200px;
  margin: 0 auto;
    display: table-cell;
  vertical-align: middle;
  -webkit-animation: fadeInDown ease 1.5s;
  animation: fadeInDown ease 1.5s;
}

.ps-header-hld{
	background: rgba(226, 206, 133, 0.65);
	padding: 22px 0px;
}

.ps-description{
	h1{
		font-size:60px;
		font-weight:300!important;
		margin:0;
		margin-bottom: 25px;
	}
	h2{
		font-weight: normal;
		margin:0;
	}
}

.ps-button-row{
	margin-top:80px;
	margin-bottom:40px;
}

.ps-section{
background: white;
  padding: 120px 0;
  text-align: center;
}
.ps-section-two{
	background: #f0f0f0;
}

.ps-signup-button{
	width:350px;
}

.ps-login-button{
	margin-left: 24px;
}

.reg-modal-type-title{
	font-size:20px;
	font-weight: 600;
	margin-top: 0px;
}