.profile{

	.user-cover-hld {
	  width: 100%;
	  position: relative;
	}

	.user-cover {
	  width: 100%;
	  height: 180px;
	  position: relative;
	  overflow:hidden;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(255, 255, 255, 0.8); /*dim the background*/
	}

	.user-cover-book{
		width: 100%;
		height:auto;
	}

	.overlay-darker {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(92, 91, 91, 0.8);
	}

	.profile-head-hld{
		position: relative;
		z-index: 11;
		margin-top: -70px;
		
		.profile-img {
			background-image: url(../images/avatar.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid #FFECB3;
			background-color: #FFF8E1;
		}

		.username {
			color: white;
			padding-left:120px;

			.md-button.md-raised{
				margin-left: 0;
				color: white;
				font-size: 12px;
			}
		}

		.undertitle {
			color:white;
		}
	}

	.title-color {
		color: #B0ABAB;
	}

	.profile-image {
		width: 140px;
		height: 140px;
		margin-top: 10px;
		margin-left: 10px;
	}

	.text-normal {
		text-align: left;
	}

	.input-title {
		font-size: 15px;
		margin-bottom: 10px;
		color: #4a4a4a;
		font-weight: normal;
	}

	.input, .input a, .input-link {
		width: 290px;
		border: none;
		border-bottom: 1px solid $amber300;
		padding: 5px 10px;
		font-family: "Open Sans",sans-serif;
		font-size: 12px;
		color: #000;
		background: $amber50;
		width: 100%!important;
		min-width: 160px!important;
		min-height: 35px;
		line-height: 24px;
		font-weight: normal;
		display: block;
	}

	.input-link:hover{
		text-decoration: underline;
		cursor: pointer;
	}
}