.search-page {

	.filters {
		line-height: 60px;
		float: right;
	}

	.book-icon {
		background-image: url(../images/book-icon.png);
		width: 40px;
		height: 60px;
		background-size: cover;
		position: absolute;
		left: -15px;
		top: -10px;
		bottom: 0;
	}

	.no-padding-left {
		padding-left: 5px !important;
	}

	.inStock-checkbox {
		margin-top: 18px;
		border: 2px solid $amber;
		background-color: $amber300;
		padding: 0px 5px;
		border-radius: 4px;

		md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon:after {
		    border-color: rgb(0, 0, 0) !important;
		}
	}

}




.hover-book-cover {
	display: block;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	padding-top:150%;
	width:100%;
	background-size:cover;
	position: relative;
	&:hover {
		color: $blue-gray300;
  		// border-bottom: 1px solid;
		.hover{
			display: block;
		}
	}

	.hover {
		display:none;
		background-image: url(../images/book.jpg);
		background-position: center;
		/* height: 150px; */
		position: absolute;
		width: 150px;
		padding-top: 230px;
		background-size: cover;
		z-index: 1;
		top: 13px;
		left: 18px;
		box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.3);
		border: 3px solid $blue-gray300;
	}
}