.settings {
	button {
		label {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.avatar-container {
		padding: 2px 2px 26px;

		.avatar {
			display: inline-block;
			width:100px; 
			height:100px;
			background-position:center;
			background-size:cover;
			border-radius:50px;
			border:1px solid black;
		}
		
		.avatar-upload {
			padding-left:120px;
			p{
				margin-top:0px;
			}
		}

		#avatar-upload{
			display: none;
			opacity:0;
			visibility: hidden;
		}
	}
}