.signin{
	/* Left-side bullets and large logo */
	.logo-align {
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 5%;
	max-width: 75%;
	}
	.logo-align .logo-info {
	margin-bottom: 40px;
	margin-left: 5px;
	margin-top: 25px;
	font-size: 18px;
	line-height: 20px;
	}
	.logo-align .media {
	margin-top: 35px;
	}
	.logo-align .media img {
	margin-right: 10px;
	}
	/* Signin layout */
	.social-signin {
	margin-left: 20%;
	padding-bottom: 15px;
	}
	.social-signin a {
	margin-top: 10px;
	}
}