.hover-user-cover {
	display: block;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	padding-top:100%;
	width:100%;
	background-size:cover;
	position: relative;
	&:hover {
		color: $blue-gray300;
  		// border-bottom: 1px solid;
		.hover{
			display: block;
		}
	}

	.hover {
		display:none;
		background-image: url(../images/book.jpg);
		background-color: white;
		background-position: center;
		/* height: 150px; */
		position: absolute;
		width: 150px;
		padding-top: 150px;
		background-size: cover;
		z-index: 1;
		top: 13px;
		left: 18px;
		box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.3);
		border: 3px solid $blue-gray300;
	}

}
