md-dialog(ng-cloak)
  form
    md-toolbar
      .md-toolbar-tools
        h2 Add new book
        span(flex)
        md-button.md-icon-button(ng-click="cancel()")
          md-icon(md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog")
    md-dialog-content
      .md-dialog-content
        div(layout="row", layout-align="center center")
          md-input-container
            label Data
            textarea(ng-model="data", md-select-on-focus, rows="5")
      .md-dialog-content
        div(layout="row", layout-align="center center")
          md-button(ng-click="answer()" class="md-raised md-primary") Create
          md-button(ng-click="hide()" class="md-raised md-warn") Cancel