.container

	md-content.md-padding(layout="row" layout-wrap)
		md-card(style="width: 390px;" ng-repeat="book in books")
			md-card-title.
				Book {{$index}}
			md-card-content
				p.
					{{book.data}}
			md-card-actions(layout='row', layout-align='end center')
				md-button(ng-click="showRemoveConfirm($event, book._id)") Delete
		
		div(layout="row", layout-align="center center")
			md-button.md-raised.md-primary(style="width: 390px;" ng-click="showAdvanced($event)") +
