a.button, .button{
	display: inline-block;
	cursor: pointer;
	color: #fff;
	background: $amber;
	border: 1px solid $amber700;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.3em;
	text-align: center;
	padding: 8px 15px;
	-webkit-transition: background-color 100ms;
	-moz-transition: background-color 100ms;
	-ms-transition: background-color 100ms;
	-o-transition: background-color 100ms;
	transition: background-color 100ms;
  
  &:hover{
		background: $amber400;
		border-color: $amber500;
  }

}

.button-large{
	font-size: 23px;
	padding: 13px 21px;
	font-weight: normal;
}

.button-transparent{
	background: white;
	border-color: $amber;
	color: $amber;
	padding-bottom: 11px;
	min-width: 0;

	&:hover{
		background: $amber;
		color:white;
	}
}

.button-accent{
	background: $blue-gray;
	border-color: transparent;
	color: white;
	padding-bottom: 11px;
	min-width: 0;

	&:hover{
		background: $blue-gray400;
		border-color:white;
	}
}

.button-resp{
	width:100%;
	margin:0;
}



// Button colours

.button-blue{

	background: #107fc9;
	border: 1px solid #107fc9;
	border-bottom: 2px solid #0e70b1;

	&:hover{
  	  border-color: #128ee1;
	  border-bottom-color: #107fc9;
	  background: #128ee1;
	}
}

.small-btn {
	margin-top: 18px;
	min-height: 30px !important;
	line-height: 30px;
	font-size: 14px;
	text-transform: none;
}