.delete-icon {
	cursor: pointer;
	display: block;
	margin:auto;
	width:20px;
	height:20px;
	background-image:url('../images/delete_icon.png');
	background-size: 20px 20px;
	background-position:center;
	&:hover{
		background-image:url('../images/delete_icon_h.png');
	}
}