.footer {
	margin-top: -90px;
	height: 90px;
	background-color: $blue-gray200;
	border-top: 1px solid rgb(215, 215, 215);

	.footer-title {
		padding-left:100px;
		padding-top: 20px;
		font-size: 14px;
		color: black;
		font-weight:normal;
		display: inline-block;
	}

	.footer-title2 {
		padding-top: 20px;
		font-size: 17px;
		color: rgba(255, 252, 252, 0.5);
		display: inline-block;
	}

	.footer-desc {
		display: inline-block;
		padding: 10px 10px 10px 10px;
		margin: 0 auto;
		cursor: pointer;
		color: black;
		font-size: 14px;
	}
}