.push-bottom {
	margin-bottom: 20px;
}

.push-bottom-more {
	margin-bottom: 40px;
}

.push-top-more {
	margin-top: 40px;
}

.push-top {
	margin-top: 20px;
}


.push-left {
	margin-left: 10px;
}
.push-right {
	margin-left: 10px;
}

.center {
	text-align: center;
}

.inline {
	display: inline-block;
}

.centered-item {
	margin: 0 auto;
}

a:focus {
	text-decoration: none;
}

.block {
	display: block;
}

.bold {
	font-weight: normal;
	display: inline-block;
	color: #000;
	padding-left: 5px;
}

.clearfix {
	clear: both;
}

.weight-text {
	font-weight: 600;
}

.full-width {
	width: 100%;
}


.left{
  float:left;
}

.right{
  float:right;
}

.clear{
  clear:both;
}

.no-padding{
	padding:0px;
}

.no-margin{
	margin:0;
}
.no-margin-left{
	margin-left:0;
}

.inline{
	display: inline-block;
}