// 
// 
// This file is used to override Material UI CSS file rules.
// 
// 

.md-button.md-default-theme.md-primary.md-raised {
	color:white;
}

md-checkbox{
	margin:0;
}

md-select.md-select-invalid{
	.md-select-label{
		  border-bottom-color: rgb(244,67,54);
	}
}

button{
	label{
		cursor:pointer;
	}
}

а.md-button{
	span{
		color:white;
	}
}

.md-button{
	color:#4a4a4a !important;
}

.md-button.md-default-theme.md-primary.md-raised.active, 
.md-button.md-default-theme.md-primary.md-raised.active:hover,
	.md-button.md-default-theme.md-primary.md-raised.active:focus{
	color: $blue-gray900;
	background-color: $blue-gray200;
}


a.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-raised{
	background-color: $amber300;
	padding-left:10px;
	padding-right:10px;
	&:not([disabled]):hover{
		background-color: $amber100;
	}
}

a.md-button.md-default-theme[disabled], 
a.md-button.md-default-theme.md-raised[disabled], 
a.md-button.md-default-theme.md-fab[disabled], 
a.md-button.md-default-theme.md-accent[disabled], 
a.md-button.md-default-theme.md-warn[disabled], 
.md-button.md-default-theme[disabled], 
.md-button.md-default-theme.md-raised[disabled], 
.md-button.md-default-theme.md-fab[disabled], 
.md-button.md-default-theme.md-accent[disabled], 
.md-button.md-default-theme.md-warn[disabled] {
	background-color: $blue-gray50;
}

.md-button.md-default-theme.md-primary.md-raised.active, 
.md-button.md-default-theme.md-primary.md-raised.active:hover, 
.md-button.md-default-theme.md-primary.md-raised.active:focus{
	background-color: $amber50;
}

md-input-container.md-default-theme.md-input-invalid .md-input{
	border-color:$error;
}

md-input-container.md-default-theme.md-input-invalid ng-message, 
md-input-container.md-default-theme.md-input-invalid data-ng-message, 
md-input-container.md-default-theme.md-input-invalid x-ng-message, 
md-input-container.md-default-theme.md-input-invalid [ng-message], 
md-input-container.md-default-theme.md-input-invalid [data-ng-message], 
md-input-container.md-default-theme.md-input-invalid [x-ng-message], 
md-input-container.md-default-theme.md-input-invalid .md-char-counter{
	color: $error;
}



md-input-container.md-default-theme label, 
md-input-container.md-default-theme .md-placeholder{
  color:black !important;
}

md-input-container:not(.md-input-has-value), md-input-container.md-default-theme .md-input{
	color: black;
}