.modal-win-highest{
	position:relative;
	z-index:10010;
}

// class to be added to the body
.modal-open{
	overflow:hidden;
}

.modal-win{
	display:none;

	.overlay{
		/* A dark translucent div that covers the whole screen */
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		background-color: #FFFFFF;
		opacity: 0.8;
		width: 100%;
	}

	.modal{
		position:fixed;
		overflow:auto;
		z-index:10000;
		top:0;
		left:0;
		width:100%;
		height:100%;

		.modal-outer {
			display: table;
			height: 100%;
			width: 100%;

			.modal-inner {
				display: table-cell;
				vertical-align: middle;
				position: relative;
			}

			.modal-hld{
				/* A centered div above the overlay with a box shadow. */
				// position: fixed;
				// width: 50%; /* Default */

				/* Center the dialog */
				// top: 50%;
				// left: 50%;

				margin:40px auto;
				position: relative;
				z-index: 2;

				.content {
					overflow-y: auto;
					height: 100%;
				}

				.close{
					position: absolute;
					top: 10px;
					right: 10px;
					padding: 5px;
					cursor: pointer;
					font-size: 120%;
					display: inline-block;
					font-weight: bold;
					font-family: 'arial', 'sans-serif';
					color:white;
					width:20px;
					height:20px;

				}

				.step, .step-manual{
					display: none;
					&.active{
						display: block;
					}
				}
			}
		}

		&.modal-default {
			.modal-hld{
				background-color: #fff;
				box-shadow: 4px 4px 80px #000;

				.content{
					padding:10px;
					text-align: left;
				}
			}
		}

		&.modal-transparent {
			.overlay {
				background-color: #0D1827;
			}

			.modal-hld {
				.content {
					padding:10px;
					text-align: left;
				}
				.close {
					color:white;
				}
			}
		}

		&.modal-framed {
			.modal-hld {
				background:white;
				box-shadow: -1px 1px 6px 1px rgba(0,0,0,.25);

				.title-hld {
					padding: 20px 40px;
					border-bottom: 1px solid rgb(215, 215, 215);
					background-color:rgb(255, 240, 179);
					
					.icon-hld {
						background-color: $smoke;
						width:40px;
						height:40px;
						margin-top:-35px;
						margin-left:auto;
						margin-right:auto;
						color:white;
						text-align: center;
						border-radius: 20px;
						.icon {
							font-size: $font-gizmo-normal;
							line-height: 40px;
						}
					}
					.title {
						font: $font-serif-big $font-serif;
						line-height: $font-serif-big-lh;
						color:black;
						text-align: center;
					}
				}
				.content {
					background-color: white;
					padding: 20px;
				}

				.close {
					color:black;
				}
			}
		}
	}
}


// -------------------------------------
// Login and register modal styles
// -------------------------------------

//fix bug with button-blue class and checkbox
#loginModal, #regModal {
	.button-blue:hover {
		color: $white;
	}

	.checkbox {
		display: none;
	}

	.checkbox-label {
		font-size: 15px;
		margin-bottom: 15px;
		// text-transform: lowercase;
		color: $white;
	}
}

.modal-title {
	font: $font-serif-big $font-serif;
	line-height: $font-serif-big-lh;
	color: $white;
	text-align: center;
}

.email-opt {

	input {
		margin-bottom: 15px;
	}

}

.err-hold {
	height: 30px;
  	color: #c0392b
}