tags-input {
  display: block;
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:before, &:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .host {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
    &:active {
      outline: none;
    }
  }
  .tags {
    font-family: $font-sans;
    font-size: $font-normal;
    color: #000;
    background: none;

    padding: 15px 10px;
    height: 61px;

    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid $blue-gray;

    &.error{
      border-bottom: 1px solid $error;
      background: $error-background;
    }

    .tag-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .tag-item {

      padding: 7px;
      height: 30px;
      text-align: center;
      background-color: $amber;
      color: #fff;
      background-image: none;
      border: none;
      box-shadow: none;
      border-radius: 0;

      margin: 2px;
      // padding: 0 5px;
      display: inline-block;
      float: left;
      font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
      // height: 26px;
      // line-height: 25px;
      // // border: 1px solid #acacac;
      // border-radius: 3px;
      // background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
      // background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
      &.selected {
        background: $warning;
        // background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
      }
      .remove-button {
        margin: 0 0 0 5px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        vertical-align: middle;
        font: bold 16px Arial, sans-serif;
        color: $white;
        &:active {
          color: $gray;
        }
      }
    }
    .input {
      border: 1px solid rgb(96, 125, 139);
      outline: none;
      margin: 2px;
      padding: 0;
      padding-left: 5px;
      float: left;
      height: 30px;
      font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
      &.invalid-tag {
        color: $warning;
      }
      &::-ms-clear {
        display: none;
      }
    }
  }
  &.ng-invalid .tags {
    -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
    box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  }
  .autocomplete {
    margin-top: 5px;
    position: absolute;
    padding: 5px 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    .suggestion-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .suggestion-item {
      padding: 5px 10px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: black;
      background-color: white;
      &.selected {
        color: white;
        background-color: #0097cf;
        em {
          color: white;
          background-color: #0097cf;
        }
      }
      em {
        font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
        background-color: white;
      }
    }
  }
}


// padding: 0 10px 0 10px;
// height: 30px;
// line-height: 29px;
// text-align: center;
// /* margin-left: 12px; */
// background-color: #4294f0;
// color: #fff;
// background-image: none;
// border: none;
// box-shadow: none;
// border-radius: 0;