.table-hld {
	display: table;
	.table-row { 
		display: table-row; 
	}
	.table-cell {
		display: table-cell;
    }
    .table-column {
        display: table-column;
    }

}

.table-controls{
	.table-count{
	}
}

.centered-table {
	margin: 0 auto;
	width:100%;
	border-collapse: collapse; 

	thead{
		font-size: 12px;
		vertical-align: bottom;
	}
	
	tbody{
		vertical-align: top;
	}

	.table-col, td {
		padding: 20px 5px 20px 5px;
		// text-align: center;
		font-weight: normal;
		position: relative;
	}

	.table-row, tr {
	  border-bottom: 1px solid rgb(215, 210, 210);
	}

}