.true{
	display: block;
	margin:auto;
	width:20px;
	height:20px;
	border-radius:15px;
	background-color: $success;
	border:0px;
}

.false{
	display: block;
	margin:auto;
	width:20px;
	height:20px;
	border-radius:15px;
	background: none;
	border:2px solid $error;
}

.true-book{
	display: block;
	margin:auto;
	width:20px;
	height:20px;
	background-image:url('../images/inStock_true.jpg')
}

.false-book{
	display: block;
	margin:auto;
	width:20px;
	height:20px;
	background-image:url('../images/inStock_false.jpg')
}