// *************************************
//
//   Base variables
//
// *************************************

// -------------------------------------
// Responsiveness Settings
// -------------------------------------

$min-device-width: 320px;             // iPhone Portrait
$tablet-device-width: 768px;          // iPad Portrait
// $document-width: $row-max-width;       // Default Documenta
$max-device-width: 2880px;            // Max Document Size

$break-desk: 1200px;  
$break-tablet: 1024px;  
$break-mobile: 767px;           


// -------------------------------------
// Typography
// -------------------------------------

/* --- Legacy fonts --- */
$font-main: 'Open Sans', Helvetica, Arial, sans-serif;
$font-secondary: 'Open Sans light', Helvetica, Arial, sans-serif;

/* --- Font families --- */
$font-serif: 'PT Serif', serif;
$font-sans: 'Open Sans', sans-serif;


/* --- Serif font sizes --- */
$font-serif-big: 30px;
$font-serif-normal: 20px;

/* --- Serif font line heights --- */
$font-serif-big-lh: 32px;
$font-serif-normal-lh: 22px;


/* --- Sans font sizes --- */
$font-hero: 33px;
$font-big: 20px;
$font-normal: 14px;
$font-medium: 13px;
$font-small: 10px;

/* --- Sans font line heights --- */
$font-hero-lh: 37px;
$font-big-lh: 25px;
$font-normal-lh: 16px;
$font-medium-lh: 15px;
$font-small-lh: 12px;


/* --- Sans font sizes --- */
$font-gizmo-normal: 20px;

$font-style-main: italic;
$font-smoothing: antialiased;


// -------------------------------------
// Font Weights
// -------------------------------------

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-thin: 300;

// $header-font-weight: $font-weight-thin;
// $body-font-weight: $font-weight-regular;
// $type-font-weight: $font-weight-regular;
// $link-font-weight: $font-weight-regular;
// $button-font-weight: $font-weight-bold;
// $tabs-font-weight: $font-weight-semibold;

// Modular Scale Settings
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale

$base-font-size: 16px !default;
$base-line-height: 6px !default;


// -------------------------------------
//   Sizes
// -------------------------------------

$xsmall:    10px;
$small:     12px;
$norm:      14px;   // $base-font-size (14px == default)
$med:       18px;   // Heading 5
$large:     23px;   // Heading 4
$larger:    28px;     // Heading 3
$xlarge:    38px;     // Heading 2
$xxlarge:     44px;     // Heading 1
$xxxlarge:    48px;
$reallybig:   60px;
$tremendous:  72px;
$absurd:    80px;


//size of pixel increase in bookBig hover effect
$px-increase: 20px;


// -------------------------------------
//   UI Colors
// -------------------------------------

$main-color: #004eff;

//- #3B5EAE - new blue

$blue-gray50: #ECEFF1;
$blue-gray100: #CFD8DC;
$blue-gray200: #B0BEC5;
$blue-gray300: #90A4AE;
$blue-gray400: #78909C;
$blue-gray500: #607D8B;
$blue-gray: #607D8B;
$blue-gray600: #546E7A;
$blue-gray700: #455A64;
$blue-gray800: #37474F;
$blue-gray900: #263238;
$blue-grayLight: #D5DBDB;

$amber50: #FFF8E1;
$amber100: #FFECB3;
$amber200: #FFE082;
$amber300: #FFD54F;
$amber400: #FFCA28;
$amber500: #FFC107;
$amber: #FFC107;
$amber600: #FFB300;
$amber700: #FFA000;
$amber800: #FF8F00;
$amber900: #FF6F00;
$amberA100: #FFE57F;
$amberA200: #FFD740;
$amberA400: #FFC400;
$amberA700: #FFAB00;

// $blue: #004eff;
$blue: #4294f0;
$light-blue: #4294f0;
$yellow: #C7B129;
$black: #000;
$dark-gray: #252525;
$medium-gray: #a9a9a9;
$gray: #666;
$light-gray: #e6e6e6;
$white: #fff;
$orange: #E7A15E;
$smoke: #688DB6;

$input-background: rgba(66, 148, 240, 0.1);
$error-background: rgba(192, 57, 43, 0.05);

$dark-gray-transparent: rgba(51, 51, 51, .6);

$blue-hover: lighten($blue, 5%); 
$smoke-hover: lighten($smoke, 5%);
$blue-darken: darken($blue, 5%); 
$light-blue-hover: lighten($light-blue, 10%);
$light-blue-hover: lighten($light-blue, 5%); 
$light-blue-darken: darken($light-blue, 5%); 
$yellow-hover: lighten($yellow, 20%);
$yellow-darken: darken($yellow, 5%);
$black-hover: lighten($black, 5%); 
$dark-gray-hover: lighten($dark-gray, 5%);
$medium-gray-hover: lighten($medium-gray, 5%);
$gray-hover: darken($gray, 5%);
$light-gray-hover: lighten($light-gray, 5%);
$white-hover: darken($white, 5%);

$horizontal-rule-color: #ccc !default;
$border-color: #b4b4b4;
$light-border-color: #dedede;

$success: rgb(51, 173, 58);
$warning: #d35400;
$error: rgb(222, 93, 1);

$success-lighter: #27ae60;
$warning-lighter: #e67e22;
$error-lighter: #e74c3c;


//colors for some buttons
$button-twitter-color: #00acee;
$button-facebook-color: #48659d;
$button-lexicon-color: #16a085;
$button-google-color: #DC4A38;

//color for borders in register form
$button-light-blue: #1e7398;
$button-darker-blue: #285568;

$button-light-purple: #3e4d6c;
$button-darker-purple: #394050;

$button-light-skyblue: #1d41a2;
$button-darker-skyblue: #2a3a6e;

$button-light-yellow: #ffff84;


// color for elements

$catalog-border: #2F2F2F;



// // -------------------------------------
// //   Forms
// // -------------------------------------
// $form-text-input-stroke: #ccc;
// $form-text-input-background: $white;
// $form-text-input-placeholder-color: $default-color;
// $form-text-input-color: #696257;

// $form-select-stroke: #ccc;
// $form-select-background: $white;
// $form-select-color: #555;

// $form-border-color: rgba(212,210,205,.8);

// // -------------------------------------
// //   Modals
// // -------------------------------------

// $modal-overlay-color: rgba(41, 51, 71, 0.2);
// $modal-window-color: $white;
// $modal-header-bg-color: #f3f3f3;

// // -------------------------------------
// //   Tables
// // -------------------------------------

// $table-bgcolor: #fff;
// $table-thead-bgcolor: $primary-color;
// $table-row-first-cell-font-weight: bold;
// $table-border-size: 1px;
// $table-border-style: solid;
// $table-border-color: #e5e5e5;
// $table-cell-border-size: 1px;
// $table-cell-border-color: #e5e5e5;
// $table-cell-border-style: solid;

// // .rounded
// $table-border-radius: 4px;
// // .striped
// $table-stripe-bgcolor: #e5e5e5;


// -------------------------------------
//   Floats
// -------------------------------------
$default-float: left;
$switch-float: right;


