
/*----------------------------------------------------------------------
/* Bootstrap overrides
/*---------------------------------------------------------------------*/

/* Top Navigation */

.navbar .brand-image {
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar .dropdown-toggle img {
  width: 23px;
  height: 23px;
  margin-top: -3px;
  margin-bottom: -2px;
}

/* Side Navigation */

.sidenav > li > a {
  padding: 5px 15px;
}

body, html {
  margin: 0;
  padding: 0;
}

p {
  margin-top:15px;
  margin-bottom:15px;
}

body{
  font-family: $font-main;
  font-size: $font-normal;
  color: #333333;
}

/* Make sure that we're always taking up enough space on the screen. */
/* ToDo: This shouldn't be necessary once we have all the content in place. */

// html, body, .container {
//   height: 85%;
// }

.row {
  min-height: 100%;
}

/*----------------------------------------------------------------------
 * Common styles
 *---------------------------------------------------------------------*/

/* Typography */

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img { width: 100% }
/* Layout */

// body {
//   padding-top: 70px;
// }

.block {
  display: block;
}

.inner-container{
  background-color: white;
  padding: 40px;
}

.big-padding{
  padding: 40px;
}

.normal-padding{
  padding: 40px;
}

.small-padding{
  padding: 20px;
}

.input-section{
  padding: 2px 2px 15px;
  font: $font-sans;
}

.label{
  font-size: 12px;
  line-height: 12px;
  color: rgb(0,0,0);
}

.value{
  font-size: 16px;
  line-height: 18px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
}