.page-title{
  margin-top:50px;
  margin-bottom:27px;
  font-size: $font-hero;
  line-height: $font-hero-lh;
  text-align: center;
  color: $blue-gray400;
}

.small-text{
  font-size: $font-small;
  line-height: $font-small-lh;
}

.normal-text{
  font-size: $font-normal;
  line-height: $font-normal-lh;
}

.error{
  color: $error;
  font-weight: bold;
}

.response{
  color: $error; 
  font-weight: bold;
}